<section class="sec-loguin container">
    <article class="art-loguin row row-cols-6">
        <div class="col-12">
            <br>
        </div>
        <div class="col-loguin col"> </div>
        <div class="col-loguin col-3">Logo</div>
        <div class="col-loguin col-1"> </div>
        <div class="col-loguin col">Usuario: </div>
        <div class="col-loguin col">TB Usuario</div>
        <div class="col-loguin col"> </div>
        <div class="col-loguin col"> </div>
        <div class="col-loguin col-3">Logo</div>
        <div class="col-loguin col-1"> </div>
        <div class="col-loguin col">Calve: </div>
        <div class="col-loguin col">TB Clave</div>
        <div class="col-loguin col"> </div>
        <div class="col-loguin col-12">
            <br>
        </div>
        <div class="col-loguin col"> </div>
        <div class="col-loguin col-3"> </div>
        <div class="col-loguin col-1"> </div>
        <div class="col-loguin col">B Loguin</div>
        <div class="col-loguin col"> </div>
        <div class="col-loguin col"> </div>
        <div class="col-loguin col-12">
            <br>
        </div>
    </article>
</section>