@media screen and (max-width:1024px)
{

}

@media all and (min-width:1025px) and (max-width:1312px)
{

}

@media screen and (min-width:1313px)
{
    
}

.sec-head
{
    background-color: #123274;
    height: 5;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.img-head-logo
{
    margin: 1em;
    width: 80%;
}

.h1-head
{
    margin: 0.5em;
    text-align: center;
}
