<section class="sec-footer container-fluid">
    <article class="art-footer row row-cols-12">
        <div class="col-footer-space col-12">
            <br>
        </div>
        <div class="col-footer-space col-12">
            <h5>
                Siguenos en nuestras redes sociales:
            </h5>
        </div>
        <div class="col-footer-space col-12">
            <br>
        </div>
        <div class="col-footer-social-network-space col-2"> </div>
        <a class="col-footer-social-network col-2" href="https://www.linkedin.com/company/dbsystemcol/" alt="Linkendin" target="_Blank">Linkedin</a> 
        <a class="col-footer-social-network col-2" href="https://www.facebook.com/dbsystemcol/" alt="Facebook" target="_Blank">Facebook</a>
        <a class="col-footer-social-network col-2" href="https://twitter.com/dbsystemcol?lang=es" alt="Twitter" target="_Blank">Twitter</a>
        <a class="col-footer-social-network col-2" href="https://www.instagram.com/dbsystemcol/" alt="Instagram" target="_Blank">Instagram</a> 
        <div class="col-footer-social-network-space col-2"> </div>
        <div class="col-footer-space col-12">
            <br>
        </div>
        <div class="col-footer-copyrigth col-12">
            © 2021 DB System Ltda. Todos los derechos reservados
        </div>
        <div class="col-footer-space col-12">
            <br>
        </div>
    </article>
</section>
