.ite-list
{
    list-style: none;
    padding: 1em;
}

.ite-list:hover
{
    background-color: #123274;
    color: white;
}

.but-list
{
    background-color:#123274;
    color: white;
    text-decoration: none;
    text-align: center;
}

.but-list:hover
{
    background-color:#0b1e44;
    color: white;
    text-decoration: none;
}