<section class="sec-list accordion" id="accordionExample">
    <article class="art-list card">
        <div class="div-list card-header" id="headingOne">
            <h2 class="h2-list mb-0">
                <button class="but-list btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Inventario de Hardware
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="div-col-list collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="div-card-list card-body">
                <ul class="cont-list">
                    <li class="ite-list">
                        Laptops
                    </li>
                    <li class="ite-list">
                        Desktop
                    </li>
                    <li class="ite-list">
                        Server
                    </li>
                    <li class="ite-list">
                        Storage
                    </li>
                    <li class="ite-list">
                        Networking
                    </li>
                    <li class="ite-list">
                        Impresoras
                    </li>
                    <li class="ite-list">
                        Audiovisuales
                    </li>
                    <li class="ite-list">
                        Celulares
                    </li>
                    <li class="ite-list">
                        Telefonos fijos
                    </li>
                </ul>
            </div>
        </div>
    </article>

    <article class="art-list card">
        <div class="div-list card-header" id="headingOne">
            <h2 class="h2-list mb-0">
                <button class="but-list btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    Inventario de Software
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="div-col-list collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="div-card-list card-body">
                <ul class="cont-list    ">
                    <li class="ite-list">
                        Sistemas Operativos
                    </li>
                    <li class="ite-list">
                        Ofimatica
                    </li>
                    <li class="ite-list">
                        Otros
                    </li>
                </ul>
            </div>
        </div>
    </article>

    <article class="art-list card">
        <div class="div-list card-header" id="headingOne">
            <h2 class="h2-list mb-0">
                <button class="but-list btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                    Inventario de Renta
                </button>
            </h2>
        </div>

        <div id="collapseThree" class="div-col-list collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="div-card-list card-body">
                <ul class="cont-list    ">
                    <li class="ite-list">
                        Laptop
                    </li>
                    <li class="ite-list">
                        Desktop
                    </li>
                    <li class="ite-list">
                        Server
                    </li>
                </ul>
            </div>
        </div>
    </article>

  
</section>